* {
  margin: 0;
  padding: 0;
}

body {
  --gray: hsl(240, 9%, 89%);
  --black: hsl(240, 6, 13);
  height: 100%;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  scroll-behavior: smooth;
}

.top-section {
  width: 100%;
  min-height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.contentWrapper:hover {
  color: rgb(231, 89, 38);
  transition: 1s;
}
.contentWrapper:hover span {
  color: white;
  transition: 1s;
}
.contentWrapper {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 95%;
  height: 90%;
  background-color: rgb(73, 73, 73);
  box-shadow: 8px 5px 5px 5px rgb(32, 32, 32);
  border-radius: 10px;
  color: white;
  opacity: 1.1;
}

.contentWrapper:hover {
  transition: 2s;
}
.image-content {
  display: flex;
  width: 30%;
  height: 80%;
  align-items: center;
  justify-content: center;
}
.image-content img {
  width: 80%;
  height: 100%;
  clip-path: circle(46.2% at 50% 50%);
}

.profile-content {
  width: 30%;
  height: 80%;
  text-align: left;
}

.profile-content h1 {
  letter-spacing: 1px;
  font-size: 30px;
  font-weight: 600;
}

span {
  color: rgb(231, 89, 38);
  font-weight: 800;
}

.profile-content li {
  padding: 1px;
  font-size: 18px;
  margin-top: 15px;
}
.categories-content {
  width: 30%;
  height: 80%;
}

.categories-content h1 {
  letter-spacing: 1px;
  font-size: 30px;
  font-weight: 600;
}

.categories-content li {
  padding: 1px;
  font-size: 18px;
  margin-top: 15px;
}

li {
  list-style-type: none;
}

/* Text Area Section */

.text-area {
  width: 100%;
  min-height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  box-sizing: border-box;
}

.textAreaA {
  min-height: 200px;
  font-size: 16px;
  letter-spacing: 0.6px;
  text-rendering: optimizeSpeed;
  color: rgb(21, 20, 26);
  line-height: 25px;
  text-align: justify;
  padding: 40px;
  margin-top: 5rem;
}
.textAreaA h1,
h2,
h3 {
  font-size: 26px;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: -0.5px;
  margin-bottom: 2rem;
  margin-top: 2rem;
  word-break: break-word;
}
.textAreaA a {
  color: rgb(24, 112, 240);
}
.textAreaA p {
  font-size: 16px;
  line-height: 32px;

  overflow-wrap: break-word;
  scrollbar-color: rgba(0, 0, 0, 0.25) rgba(0, 0, 0, 0);
  text-rendering: optimizeSpeed;
  color: rgb(21, 20, 26);
  box-sizing: border-box;
}

.textAreaB {
  font-size: 16px;
  letter-spacing: 0.6px;
  text-rendering: optimizeSpeed;
  color: rgb(21, 20, 26);
  line-height: 25px;
  text-align: justify;
  padding: 40px;
  margin-top: -2rem;
}

.textAreaB h1 {
  font-size: 26px;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: -0.5px;
  margin-bottom: 2rem;
  margin-top: 2rem;
  word-break: break-word;
}
.textAreaB p {
  font-size: 16px;
  line-height: 32px;

  overflow-wrap: break-word;
  scrollbar-color: rgba(0, 0, 0, 0.25) rgba(0, 0, 0, 0);
  text-rendering: optimizeSpeed;
  color: rgb(21, 20, 26);
  box-sizing: border-box;
}

.bottomSection {
  min-width: 200px;
  height: 40vh;

  display: flex;
  align-items: center;
  justify-content: space-around;
}

.videoSection {
  width: 30%;
  height: 90%;
}

.bottomImageSection {
  width: 30%;
  height: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: 2px;
}

.linksBottomSection {
  width: 30%;
  height: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.linksBottomSection h1 {
  font-size: 30px;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: -0.5px;
  word-break: break-word;
  margin-top: -4rem;
}
.linksBottomSection a {
  list-style-type: none;
  text-decoration: none;
  color: rgb(21, 20, 26);
  padding: 4px;
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.bottomImageSection img {
  height: 6rem;
  width: 6rem;
}
